
<main>
    <section id="mid-up">
        <div class="container">
            <div class="up">
                <span>CHECKOUT</span>
                <div class="link">
                    <a href="index.html"><span>HOME</span></a>
                    <span>/</span>
                    <span>CHECKOUT</span>
                </div>
            </div>
        </div>
    </section>

    <section id="mid-down">
        <div class="container">
            <div class="common">
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="left">
                        <h1>Billin Details</h1>
                        <div class="part1 item">
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>First name (required)*</label>
                                <p>Please enter a valid message</p>
                            </div>

                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Last name (required)*</label>
                                <p>Please enter a valid message</p>
                            </div>
                        </div>
                        <div class="part2">
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Company name (optional)</label>
                            </div>

                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Address</label>
                            </div>

                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Town/city</label>
                            </div>
                        </div>

                        <div class="part3 item mt-2">
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>State / Country (required)*</label>
                                <p>Please enter a valid message</p>
                            </div>

                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Postcode / zip (required)*</label>
                                <p>Please enter a valid message</p>
                            </div>
                        </div>

                        <div class="part4 item mt-2">
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Email Address (required)*</label>
                                <p>Please enter a valid message</p>
                            </div>

                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Phone (required)*</label>
                                <p>Please enter a valid message</p>
                            </div>
                        </div>

                        <div class="part5 mt-2">
                            <h2>Additional information</h2>
                            <h6>Order notes (optional)</h6>
                            <div class="group">
                                <textarea name="" id="" cols="30" rows="10"></textarea>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Post content</label>
                            </div>

                            <div class="send">Submit Review</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="right">
                        <div class="tittle">
                            <h5>Product</h5>
                            <h6>Total</h6>
                        </div><br>
                        <div class="line"></div><br>
                        <p>There are no products in cart</p>
                        <div class="line"></div><br>
                        <div class="subtotal">
                            <h6>Subtotal</h6>
                            <h5 class="prize">$0.00</h5>
                        </div><br>
                        <div class="line"></div><br>
                        <div class="total">
                            <h6>Total</h6>
                            <h5>$0.00</h5>
                        </div><br>
                        <div class="line"></div><br>
                        <div class="choices">
                            <input name="input" type="radio"><span>Direct Bank Transfer</span><br>
                            <input name="input" type="radio"><span>Paypal</span>
                        </div>
                        <button>PLACE ORDER</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

