
<link rel="stylesheet" href="~/assets/css/product-detail.css">


<main>
        <section id="mid-up">
            <div class="container">
                <div class="up">
                    <span>PRODUCT</span>
                    <div class="link">
                        <a href="index.html"><span>HOME</span></a>
                        <span>/</span>
                        <span>PRODUCT</span>
                    </div>
                </div>
            </div>
        </section>

        <section id="mid-down">
            <div class="container">
                <div class="common">
                    <div class="col-9">
                        <div class="main">
                            <div class="col-xxl-7 col-xl-6 col-lg-12 col-md-12">
                                <div class="left">
                                    <div class="img main-img">
                                        <img src="" alt="">
                                        <i class="fa-solid fa-magnifying-glass-plus open-icon"></i>
                                    </div>
                                    <div class="corusel multiple-items">
                                        <div class="col-2">
                                            <div class="team">
                                                <div class="img">
                                                    <img src="./assets/images/products/headphone1 (1).png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="team">
                                                <div class="img">
                                                    <img src="./assets/images/products/headphone1 (2).png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="team">
                                                <div class="img">
                                                    <img src="./assets/images/products/headphone1 (3).png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="team">
                                                <div class="img">
                                                    <img src="./assets/images/products/headphone1 (4).png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="team">
                                                <div class="img">
                                                    <img src="./assets/images/products/headphone1 (5).png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="team">
                                                <div class="img">
                                                    <img src="./assets/images/products/headphone1.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary d-none open-modal" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    Launch demo modal
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                                            <div class="modal-body">
                                                <div class="img">
                                                    <img src="" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-12 col-md-12">
                                <div class="right">
                                    <div class="text">
                                        <h1>Wireless Mondo</h1>
                                        <span class="old-prize">$200.00</span>
                                        <span class="discount">50% Off</span><br>
                                        <span>$</span>
                                        <span>266.00</span>
                                        <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Necessitatibus dolorum enim consequuntur eum tenetur. Obcaecati, aperiam
                                            quos voluptatem temporibus dolores facilis. Iure nihil, impedit rem itaque
                                            sapiente ipsam exercitationem deserunt!</p>
                                        <div class="line"></div><br>
                                        <p>Avalibility:</p><span class="stock">In Stock</span>
                                        <p class="quantity">Quantity</p>
                                        <div class="count">
                                            <button class="minus">-</button>
                                            <span>1</span>
                                            <button class="plus">+</button>
                                        </div>
                                        <div class="buttons">
                                            <button>ADD RO CARD</button>
                                            <button>BUY NOW</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="advantages">
                            <div class="offers">
                                <div class="bonus">
                                    <i class="fa-solid fa-gift"></i>
                                    <div class="text">
                                        <h6>BONUS PLUS</h6>
                                        <p>Get a bonus plus for buying more that three products</p>
                                    </div>
                                </div>
                                <div class="free">
                                    <i class="fa-solid fa-truck"></i>
                                    <div class="text">
                                        <h6>FREE SHIPPING</h6>
                                        <p>Free shipping on all orders over $99</p>
                                    </div>
                                </div>
                                <div class="money-back">
                                    <i class="fa-solid fa-dollar-sign"></i>
                                    <div class="text">
                                        <h6>MONEY BACK GUARANTEE</h6>
                                        <p>100% money back guarantee</p>
                                    </div>
                                </div>
                                <div class="online">
                                    <i class="fa-solid fa-clock-rotate-left"></i>
                                    <div class="text">
                                        <h6>ONLINE SUPPORT 24/7</h6>
                                        <p>Call us: 02 3555 65454 55</p>
                                    </div>
                                </div>
                            </div>
                            <div class="big-sale">
                                <h2>BIG SALE</h2>
                                <h4>DO NOT MISS IT!</h4>
                                <div class="item">
                                    <h1>60</h1>
                                    <span>%</span>
                                    <span>off</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos magnam culpa sint
                                    praesentium, aliquid ad.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="tab-menu">
            <div class="container">
                <div class="common">
                    <div class="tabs">
                        <div class="item1 item" data-id="1">Description</div>
                        <div class="item2 item" data-id="2">Details</div>
                        <div class="item3 item" data-id="3">Reviews</div>
                    </div>
                    <div class="line">
                        <div class="active"></div>
                    </div>
                    <div class="texts">
                        <div class="text1 text" data-id="1">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industrys standard dummy text ever since the 1500s, when an unknown printer
                                took a galley of type and scrambled it to make a type specimen book. It has survived not
                                only five centuries, but also the leap into electronic typesetting, remaining
                                essentially unchanged. It was popularised in the 1960s with the release of Letraset
                                sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                                software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply
                                dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys
                                standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                                and scrambled it to make a type specimen book. It has survived not only five centuries,
                                but also the leap into electronic typesetting, remaining essentially unchanged. It was
                                popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                                passages, and more recently with desktop publishing software like Aldus PageMaker
                                including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="text2 text d-none" data-id="2">
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                officia deserunt mollit anim id est laborum.

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Aenean vehicula, tortor gravida elementum tincidunt, justo lorem vestibulum ex, eget
                                egestas arcu tellus in magna. Vivamus gravida, ipsum vel luctus luctus, nisi felis
                                vestibulum est, nec interdum tellus leo quis tellus. Sed sit amet convallis enim, in
                                laoreet orci.
                                Donec et elit at nulla congue interdum sit amet varius erat.
                                Nulla sit amet risus pellentesque, dignissim massa ut, dignissim arcu.
                                Morbi dapibus ligula at faucibus tempus. Aenean vehicula, tortor gravida elementum
                                tincidunt, justo lorem vestibulum ex, eget egestas arcu tellus in magna. Vivamus
                                gravida, ipsum vel luctus luctus, nisi felis vestibulum est, nec interdum tellus leo
                                quis tellus. Sed sit amet convallis enim, in laoreet orci.
                                Nunc sodales justo ut nisi euismod, quis condimentum leo varius.</p>
                        </div>
                        <div class="text3 text d-none" data-id="3">
                            <div class="comments">
                                <div class="comment1">
                                    <div class="img">
                                        <img src="./assets/images/Product Details/avatar-1.png" alt="">
                                    </div>
                                    <div class="comment">
                                        <h6>Martina Solsker</h6>
                                        <span>22 Mart,2018 at 18:44</span>
                                        <p>Integer id eros et mi fringilla imperdiet. In dictum turpis eget magna
                                            viverra condimentum. Ut malesuada interdum ultrices. Proin tristique</p>
                                    </div>
                                </div>
                                <div class="comment2">
                                    <div class="img">
                                        <img src="./assets/images/Product Details/avatar-2.png" alt="">
                                    </div>
                                    <div class="comment">
                                        <h6>Deni Anistonr</h6>
                                        <span>09 Octomber, 2018 at 12:22</span>
                                        <p>Nulla accumsan, lacus sed suscipit rutrum, turpis augue accumsan metus, in
                                            accumsan urna mi vehicula lorem. Pellentesque semper nib</p>
                                    </div>
                                </div>
                                <div class="comment3">
                                    <div class="img">
                                        <img src="./assets/images/Product Details/avatar-3.png" alt="">
                                    </div>
                                    <div class="comment">
                                        <h6>Simon Ladger</h6>
                                        <span>14 December, 2018 at 2:10</span>
                                        <p>Pellentesque hendrerit vel turpis aliquam placerat. Suspendisse ullamcorper
                                            congue feugiat. Etiam gravida metus ac massa posuere ven</p>
                                    </div>
                                </div>
                            </div>
                            <h2>LIVE YOUR REVIEW</h2>
                            <div class="line"></div>
                            <p>Your email address will not be published. Required fields are marked *</p>
                            <div class="raiting">
                                <span>Your Raiting:</span>
                                <i class="fa-regular fa-face-frown"></i>
                                <i class="fa-regular fa-face-frown-open"></i>
                                <i class="fa-regular fa-face-meh"></i>
                                <i class="fa-regular fa-face-smile"></i>
                                <i class="fa-regular fa-face-grin-wide"></i>
                            </div>
                            <div class="part1 item">
                                <div class="group">
                                    <input type="text" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Your Name (required)*</label>
                                    <p>Please enter a valid message</p>
                                </div>

                                <div class="group">
                                    <input type="text" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Your Email (required)*</label>
                                    <p>Please enter a valid message</p>
                                </div>
                            </div>
                            <div class="part2">
                                <div class="group">
                                    <input type="text" required>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Subject*</label>
                                    <p>Please enter a valid message</p>
                                </div>
                            </div>
                            <div class="part3">
                                <div class="group">
                                    <textarea name="" id="" cols="30" rows="10"></textarea>
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Post content*</label>
                                </div>
                            </div>
                            <button>Submit Review</button>
                        </div>
                    </div>
                </div>
                <h5>Featured Products</h5>
                <div class="line">
                    <div class="bold"></div>
                </div>
                <div class="products slick-items">
                    <div class="col-3">
                        <div class="team">
                            <div class="card card1">
                                <div class="img">
                                    <img src="./assets/images/products/headphone1.png" alt="">
                                    <div class="icons">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-eye"></i>
                                        <i class="fa-solid fa-rotate"></i>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>Headphones</p>
                                    <h5>ONTEC E Headset</h5>
                                    <div class="stars">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    <span>$175.00</span>
                                    <button><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="team">
                            <div class="card card2">
                                <div class="img">
                                    <img src="./assets/images/products/headphone1 (1).png" alt="">
                                    <div class="icons">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-eye"></i>
                                        <i class="fa-solid fa-rotate"></i>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>Headphones</p>
                                    <h5>Solo Headset</h5>
                                    <div class="stars">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    <span>$235.00</span>
                                    <button><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="team">
                            <div class="card card3">
                                <div class="img">
                                    <img src="./assets/images/products/headphone1 (2).png" alt="">
                                    <div class="icons">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-eye"></i>
                                        <i class="fa-solid fa-rotate"></i>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>Headphones</p>
                                    <h5>Ultra White Wireless</h5>
                                    <div class="stars">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    <span>$350.00</span>
                                    <button><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="team">
                            <div class="card card4">
                                <div class="img">
                                    <img src="./assets/images/products/headphone1 (3).png" alt="">
                                    <div class="icons">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-eye"></i>
                                        <i class="fa-solid fa-rotate"></i>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>Headphones</p>
                                    <h5>Wireless Mondo</h5>
                                    <div class="stars">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    <span>$266.00</span>
                                    <button><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="team">
                            <div class="card card5">
                                <div class="img">
                                    <img src="./assets/images/products/headphone1 (4).png" alt="">
                                    <div class="icons">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-eye"></i>
                                        <i class="fa-solid fa-rotate"></i>
                                    </div>
                                </div>
                                <div class="text">
                                    <p>Headphones</p>
                                    <h5>Headset Perro</h5>
                                    <div class="stars">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                    <span>$88.00</span>
                                    <button><i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
