<main>
    <section id="mid-up">
        <div class="container">
            <div class="up">
                <span>MY ACCOUNT</span>
                <div class="link">
                    <a href="index.html"><span>HOME</span></a>
                    <span>/</span>
                    <span>MY ACCOUNT</span>
                </div>
            </div>
        </div>
    </section>

    <section id="mid-down">
        <div class="container">
            <div class="common">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="login">
                        <h4>Login</h4>
                        <div class="line">
                            <div class="bold"></div>
                        </div>
                        <form>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Username or email address (required)*</label>
                                <p>Please enter a valid message</p>
                            </div>

                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Password (required)*</label>
                                <p>Please enter a valid message</p>
                            </div>

                            <button class="send">Log in</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="register">
                        <h4>Login</h4>
                        <div class="line">
                            <div class="bold"></div>
                        </div>
                        <h6>Create new account today to reap the benefits of a personalized shopping experience.</h6>
                        <form>
                            <div class="group">
                                <input type="text" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Username or email address (required)*</label>
                                <p>Please enter a valid message</p>
                            </div>
                        </form>
                        <h6>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy</h6>
                        <button class="send">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>