
<link rel="stylesheet" href="~/assets/css/about.css">

<main>
    <section id="mid-up">
        <div class="container">
            <div class="up">
                <span>ABOUT-US</span>
                <div class="link">
                    <a href="index.html"><span>HOME</span></a>
                    <span>/</span>
                    <span>ABOUT-US</span>
                </div>
            </div>
        </div>
    </section>
    <section id="information">
        <div class="container">
            <div class="common">
                <div class="col-xl-6 col-md-12 col-sm-12">
                    <div class="img">
                        <img src="./assets/images/aboutUs/informationImg.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-md-12 col-sm-12">
                    <div class="texts">
                        <h2>Our More Than 20 Years of Experience</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos aliquam accusantium illo
                            cupiditate dolore, laboriosam corrupti eveniet consectetur hic accusamus dignissimos
                            libero consequuntur. Quia id distinctio accusamus sequi magnam nulla perferendis
                            explicabo! Totam amet suscipit incidunt consequatur. Similique eveniet, quas ab
                            distinctio animi expedita culpa sed fugit fuga quidem labore.
                        </p>
                        <div class="accordions">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            How to Become Our Partner
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                         aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            It is shown by default, until the collapse plugin adds the appropriate
                                            classes that we use to style each element. These classes control the
                                            overall appearance, as well as the showing and hiding via CSS
                                            transitions. You can modify any of this with custom CSS or overriding
                                            our default variables. It's also worth noting that just about any HTML
                                            can go within the <code>.accordion-body</code>, though the transition
                                            does limit overflow.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                            Sell Your Products Here
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                         aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            It is hidden by default, until the collapse plugin adds the appropriate
                                            classes that we use to style each element. These classes control the
                                            overall appearance, as well as the showing and hiding via CSS
                                            transitions. You can modify any of this with custom CSS or overriding
                                            our default variables. It's also worth noting that just about any HTML
                                            can go within the <code>.accordion-body</code>, though the transition
                                            does limit overflow.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                            Awesome Quality
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                         aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            It is hidden by default, until the collapse plugin adds the appropriate
                                            classes that we use to style each element. These classes control the
                                            overall appearance, as well as the showing and hiding via CSS
                                            transitions. You can modify any of this with custom CSS or overriding
                                            our default variables. It's also worth noting that just about any HTML
                                            can go within the <code>.accordion-body</code>, though the transition
                                            does limit overflow.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <h1>Our Great Services</h1>
            <p class="tittle-down">
                Boldman has 10+ years of experience with providing wide area of specialty
                services works listed below
            </p>
            <div class="tabs">
                <div class="col-xl-4 col-lg-3 col-md-12">
                    <div class="left">
                        <i class="fa-solid fa-check-double"></i>
                        <h4>Pure Quality</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis illo ullam voluptatum
                            reiciendis, excepturi debitis!
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-12">
                    <div class="mid">
                        <i class="fa-solid fa-wrench"></i>
                        <h4>Free Service</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, ratione aperiam!
                            Assumenda omnis maxime maiores.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-12">
                    <div class="right">
                        <i class="fa-solid fa-truck"></i>
                        <h4>Home Delivery</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi repudiandae maiores
                            corporis aliquid, nostrum dolorem?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="experts">
        <div class="container">
            <h1>Our Experts</h1>
            <p>
                Our development opt in to the projects they genunely want to work on,commiting wholeheartedly to
                delivering
            </p>
            <div class="peoples">
                <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                    <div class="expert1 expert">
                        <div class="img">
                            <img src="./assets/images/aboutUs/expert1.jpg" alt="">
                            <div class="cover"></div>
                            <div class="links">
                                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href=""><i class="fa-brands fa-instagram"></i></a>
                                <a href=""><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>
                        <div class="text">
                            <h6>Peter Simons</h6>
                            <span>CEO & Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                    <div class="expert2">
                        <div class="cover"></div>
                        <div class="img">
                            <img src="./assets/images/aboutUs/expert2.jpg" alt="">
                            <div class="links">
                                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href=""><i class="fa-brands fa-instagram"></i></a>
                                <a href=""><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>
                        <div class="text">
                            <h6>Peter Simons</h6>
                            <span>CEO & Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                    <div class="expert3">
                        <div class="img">
                            <img src="./assets/images/aboutUs/expert3.jpg" alt="">
                            <div class="links">
                                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href=""><i class="fa-brands fa-instagram"></i></a>
                                <a href=""><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>
                        <div class="text">
                            <h6>Peter Simons</h6>
                            <span>CEO & Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
                    <div class="expert4">
                        <div class="img">
                            <img src="./assets/images/aboutUs/expert4.jpg" alt="">
                            <div class="links">
                                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href=""><i class="fa-brands fa-instagram"></i></a>
                                <a href=""><i class="fa-brands fa-twitter"></i></a>
                            </div>
                        </div>
                        <div class="text">
                            <h6>Peter Simons</h6>
                            <span>CEO & Founder</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
