
<link rel="stylesheet" href="~/assets/css/basket.css">


<main>
    <section id="up">
        <div class="container">
            <div class="part-up">
                <div class="left">CART</div>
                <div class="right">
                    <a href="index.html">HOME</a> / CART
                </div>
            </div>
        </div>
    </section>
    <section id="down">
        <div class="container">
            <div class="products">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="buttons">
                    <button class="continue">Continue shopping</button>
                    <div>
                        <span class="tittle">Grand total:</span><span class="total"></span>
                        <button class="check">Proceed To Checkout</button>
                    </div>
                </div>
            </div>
            <div class="alert d-none">
                <h5>YOU HAVE NO ITEMS IN YOUR SHOPPING CART.</h5>
                <h5>Continue shopping</h5>
            </div>
        </div>
    </section>
</main>
