
<link rel="stylesheet" href="~/assets/css/blog.css">


<main>
    <section id="mid-up">
        <div class="container">
            <div class="up">
                <span>BLOG LIST</span>
                <div class="link">
                    <a href="index.html"><span>HOME</span></a>
                    <span>/</span>
                    <span>BLOG LIST</span>
                </div>
            </div>
        </div>
    </section>


    <section id="blog-list">
        <div class="container">
            <div class="common">
                <div class="col-xl-8 col-lg-7 col-md-12">
                    <div class="left">
                        <div class="up">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="img">
                                    <img src="./assets/images/blog images/blogImg.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="text">
                                    <h3>Our Outstanding Services</h3>
                                    <div class="icons">
                                        <span><i class="fa-regular fa-clock"></i> Aug 21,205</span>
                                        <span><i class="fa-solid fa-user"></i> Marc Spenser</span>
                                        <span><i class="fa-solid fa-comment-dots"></i> 05 Comments</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat laudantium dolore accusantium numquam atque sit odit rem, maiores nobis esse dolores magnam ipsa suscipit quam nisi in sed, molestiae aspernatur.</p>

                                </div>
                            </div>
                        </div>
                        <div class="mid">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="img">
                                    <img src="./assets/images/blog images/blogImg.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="text">
                                    <h3>Our Outstanding Services</h3>
                                    <div class="icons">
                                        <span><i class="fa-regular fa-clock"></i> Aug 21,205</span>
                                        <span><i class="fa-solid fa-user"></i> Marc Spenser</span>
                                        <span><i class="fa-solid fa-comment-dots"></i> 05 Comments</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat laudantium dolore accusantium numquam atque sit odit rem, maiores nobis esse dolores magnam ipsa suscipit quam nisi in sed, molestiae aspernatur.</p>

                                </div>
                            </div>
                        </div>
                        <div class="down">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="img">
                                    <img src="./assets/images/blog images/blogImg.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="text">
                                    <h3>Our Outstanding Services</h3>
                                    <div class="icons">
                                        <span><i class="fa-regular fa-clock"></i> Aug 21,205</span>
                                        <span><i class="fa-solid fa-user"></i> Marc Spenser</span>
                                        <span><i class="fa-solid fa-comment-dots"></i> 05 Comments</span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat laudantium dolore accusantium numquam atque sit odit rem, maiores nobis esse dolores magnam ipsa suscipit quam nisi in sed, molestiae aspernatur.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-12">
                    <div class="right">
                        <div class="input">
                            <input type="text" placeholder="Search...">
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                        <div class="latest">
                            <h4>LATEST NEWS</h4>
                            <div class="line">
                                <div class="bold"></div>
                            </div>
                            <div class="item">
                                <div class="img">
                                    <img src="./assets/images/blog images/blogImg.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h6>How To Reduce Financial Stress</h6>
                                    <span>02 Dec.</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="img">
                                    <img src="./assets/images/blog images/blogImg.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h6>What Makes A Financial Website Succesfull?</h6>
                                    <span>02 Dec.</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="img">
                                    <img src="./assets/images/blog images/blogImg.jpg" alt="">
                                </div>
                                <div class="text">
                                    <h6>What Makes A Financial Service's Website Succesfull?</h6>
                                    <span>02 Dec.</span>
                                </div>
                            </div>
                        </div>
                        <div class="widget1">
                            <h4>TEXT WIDGET</h4>
                            <div class="line">
                                <div class="bold"></div>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia placeat possimus fugit, eius esse repellat quae autem quod provident iste harum unde molestiae rerum, voluptatum quam cupiditate aliquid ea! Commodi!</p>
                        </div>
                        <div class="widget2">
                            <h4>TAGS WIDGET</h4>
                            <div class="line">
                                <div class="bold"></div>
                            </div>
                            <div class="spans">
                                <div class="up">
                                    <span>INSURANCE</span>
                                    <span>INVESTMENTS</span>
                                </div>
                                <div class="mid">
                                    <span>TAX PLANS</span>
                                    <span>MUTUAL FUNDS</span>
                                </div>
                                <div class="down">
                                    <span>RETIREMENT PLANS</span>
                                    <span>BUSNIESS PLANS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>